In [263]:

import requests # to make TMDB API calls
import json
from config import api_key
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter # to format currency on charts axis
import time

In [264]:
api_key

'eed836a30c8d9d476dcfa36de19f770a'

In [265]:
# Import sqlite3, then create the SQL database/connect to it (creating the database connection will create a DB)
import sqlite3

conn = sqlite3.connect('movies_table1.db')
#Your code here; create a cursor object so you can execute statement against the database.
c = conn.cursor() #Used cur vs. cursor for shorthand

In [303]:
c.execute('''
SELECT COUNT(1)
FROM movies_table1
''').fetchall()

[(7254,)]

In [266]:
create_query = """CREATE TABLE IF NOT EXISTS movies_table1
        (id INTEGER ,title TEXT, popularity INTEGER, release_date TEXT,vote_average REAL, vote_count INTEGER)"""

def create_table(query):
    c.execute(query)
    
create_table(create_query)

In [267]:
def insert_query(query):
    
        for j in range(len(query)): 
            c.execute("INSERT INTO movies_table1 (id,title,popularity,release_date,vote_average,vote_count) VALUES (?,?,?,?,?,?)",
                  (query[j]['id'],query[j]['title'],query[j]['popularity'],query[j]['release_date'],query[j]['vote_average'],query[j]['vote_count']))

In [297]:

def creating_list_for_db(first_page,last_page):
    
    if type(first_page) != int or first_page <1 or first_page>354:
        return "Error in first page input"
    elif type(last_page) != int or last_page <2 or last_page>354:
        return "Error in last page input"
    else:
    
        #data0 =[]
        try:
            counter=257
            for i in range(first_page,last_page+1):
                response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key='+ api_key+'&language=en-US&page='+str(i))
                print(response.status_code)
                print (counter)
                data= response.json()
                results = data['results']
                #data0.extend(results)
                insert_query(results)
                counter +=1
                time.sleep(5)
            
            
        except (RuntimeError, TypeError, NameError,ValueError):
             pass
    
    return "Data base is ready!"
    

sqldb = c.execute("""select * from movies_table1;""").fetchall()

In [307]:
df=pd.DataFrame(sqldb)
df.columns=['ID', 'Title', 'Popularity','Release_Date','Vote_Average','Vote_Count']
df.to_csv("data_base_movies.csv")

In [172]:
# Import sqlite3, then create the SQL database/connect to it (creating the database connection will create a DB)
import sqlite3

conn = sqlite3.connect('movies_test.db')
#Your code here; create a cursor object so you can execute statement against the database.
c = conn.cursor() #Used cur vs. cursor for shorthand

In [134]:
create_query = """CREATE TABLE IF NOT EXISTS movies_test2
        (id INTEGER ,title TEXT, popularity INTEGER, release_date TEXT,vote_average REAL, vote_count INTEGER)"""

def create_table(query):
    c.execute(query)
    
create_table(create_query)

In [135]:
   
def insert_query(query):
    
        for j in range(len(query)): 
            c.execute("INSERT INTO movies_test2 (id,title,popularity,release_date,vote_average,vote_count) VALUES (?,?,?,?,?,?)",
                  (query[j]['id'],query[j]['title'],query[j]['popularity'],query[j]['release_date'],query[j]['vote_average'],query[j]['vote_count']))

insert_query(data0)

In [142]:
movies = c.execute("""select * from movies_test2;""").fetchall()
df= pd.DataFrame(movies)
df.columns = ['id','title','popularity','release_date','vote_average','vote_count']
df.head(60)

,id,title,popularity,release_date,vote_average,vote_count
0,19404,Dilwale Dulhania Le Jayenge,16.808,1995-10-20,9.0,2015
1,278,The Shawshank Redemption,32.926,1994-09-23,8.7,12582
2,238,The Godfather,29.979,1972-03-14,8.6,9630
3,372058,Your Name.,19.244,2016-08-26,8.6,3833
4,424,Schindler's List,22.057,1993-12-15,8.5,7631
5,240,The Godfather: Part II,17.883,1974-12-20,8.5,5617
6,129,Spirited Away,20.765,2001-07-20,8.5,7080
7,324857,Spider-Man: Into the Spider-Verse,126.459,2018-12-07,8.5,2885
8,497,The Green Mile,22.202,1999-12-10,8.4,7878
9,637,Life Is Beautiful,16.009,1997-12-20,8.4,6937
10,680,Pulp Fiction,34.628,1994-09-10,8.4,14586
11,40096,A Dog's Will,6.467,2000-09-15,8.4,405
12,155,The Dark Knight,34.016,2008-07-16,8.4,18266
13,539,Psycho,16.062,1960-06-16,8.4,4667
14,550,Fight Club,31.515,1999-10-15,8.4,15701
15,13,Forrest Gump,26.907,1994-07-06,8.4,14124
16,389,12 Angry Men,19.102,1957-03-25,8.4,3570
17,18491,Neon Genesis Evangelion: The End of Evangelion,10.300,1997-07-19,8.4,299
18,12477,Grave of the Fireflies,0.600,1988-04-16,8.4,1922
19,122,The Lord of the Rings: The Return of the King,40.819,2003-12-01,8.4,12673
20,510,One Flew Over the Cuckoo's Nest,19.023,1975-11-18,8.4,5253
21,769,GoodFellas,17.391,1990-09-12,8.4,5356
22,311,Once Upon a Time in America,15.386,1984-05-23,8.4,2131
23,11216,Cinema Paradiso,9.592,1988-11-17,8.4,1642
24,244786,Whiplash,28.222,2014-10-10,8.4,7569
25,429,"The Good, the Bad and the Ugly",17.372,1966-12-23,8.4,3860
26,901,City Lights,8.560,1931-02-26,8.4,822
27,346,Seven Samurai,13.034,1954-04-26,8.4,1419
28,914,The Great Dictator,9.575,1940-10-15,8.4,1387
29,14537,Harakiri,9.740,1962-09-15,8.4,233
30,452522,Twin Peaks,7.176,1989-12-31,8.4,274
31,517814,Capernaum,20.898,2018-10-06,8.4,187
32,432517,Sherlock: The Final Problem,7.424,2017-01-15,8.4,648
33,598,City of God,12.313,2002-02-05,8.4,3168
34,599,Sunset Boulevard,11.471,1950-08-10,8.4,985
35,73,American History X,14.921,1998-10-30,8.3,5570
36,4935,Howl's Moving Castle,16.793,2004-11-19,8.3,3761
37,313106,Doctor Who: The Day of the Doctor,9.579,2013-11-23,8.3,489
38,128,Princess Mononoke,18.067,1997-07-12,8.3,3569
39,374430,Black Mirror: White Christmas,5.946,2014-12-16,8.3,781
40,1891,The Empire Strikes Back,19.946,1980-05-20,8.3,9464
41,3782,Ikiru,8.194,1952-10-09,8.3,372
42,26451,Investigation of a Citizen Above Suspicion,7.927,1970-02-09,8.3,219
43,290098,The Handmaiden,11.476,2016-06-01,8.3,1133
44,207,Dead Poets Society,15.635,1989-06-02,8.3,5518
45,975,Paths of Glory,11.788,1957-09-18,8.3,1104
46,265177,Mommy,9.580,2014-05-22,8.3,1322
47,20914,My Friends,7.092,1975-06-06,8.3,274
48,11659,The Best of Youth,4.767,2003-05-19,8.3,199
49,567,Rear Window,15.582,1954-08-01,8.3,2763
50,484468,The Wolf's Call,10.338,2019-02-20,8.3,214
51,455661,In a Heartbeat,4.367,2017-06-01,8.3,644
52,37257,Witness for the Prosecution,10.192,1957-12-17,8.3,488
53,797,Persona,9.663,1966-10-18,8.3,685
54,398818,Call Me by Your Name,16.324,2017-09-01,8.3,4609
55,101,Léon: The Professional,23.150,1994-09-14,8.3,7302
56,18148,Tokyo Story,9.500,1953-11-03,8.3,331
57,895,Andrei Rublev,7.724,1966-12-16,8.3,256
58,10376,The Legend of 1900,6.750,1998-10-28,8.3,1066
59,3082,Modern Times,8.799,1936-02-05,8.3,1664

In [61]:
c.execute("""select title,vote_count from movies;""").fetchall()

[('Dilwale Dulhania Le Jayenge', 2015),
 ('The Shawshank Redemption', 12582),
 ('The Godfather', 9630),
 ("One Flew Over the Cuckoo's Nest", 5253),
 ('GoodFellas', 5356),
 ('Once Upon a Time in America', 2131),
 ('The Empire Strikes Back', 9464),
 ('Ikiru', 372),
 ('Investigation of a Citizen Above Suspicion', 219)]

In [50]:
c.close()
conn.close()

In [289]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key='+ api_key+'&language=en-US&page=250')
data= response.json()
data1= data['results']
df=pd.DataFrame(data1)
df

KeyError: 'results'