In [16]:

import requests # to make TMDB API calls
import json
from config import api_key
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import time

In [22]:
# Import sqlite3, then create the SQL database/connect to it (creating the database connection will create a DB)
import sqlite3

conn = sqlite3.connect('movies_table1.db')
#Your code here; create a cursor object so you can execute statement against the database.
c = conn.cursor() #Used c vs. cursor for shorthand

In [266]:
create_query = """CREATE TABLE IF NOT EXISTS movies_table1
        (id INTEGER ,title TEXT, popularity INTEGER, release_date TEXT,vote_average REAL, vote_count INTEGER)"""

def create_table(query):
    c.execute(query)

In [ ]:
create_table(create_query)

In [267]:
def insert_query(query):
    
        for j in range(len(query)): 
            c.execute("INSERT INTO movies_table1 (id,title,popularity,release_date,vote_average,vote_count) VALUES (?,?,?,?,?,?)",
                  (query[j]['id'],query[j]['title'],query[j]['popularity'],query[j]['release_date'],query[j]['vote_average'],query[j]['vote_count']))

In [6]:

def creating_list_for_db(first_page,last_page):
    
    if type(first_page) != int or first_page <1 or first_page>354:
        return "Error in first page input"
    elif type(last_page) != int or last_page <2 or last_page>354:
        return "Error in last page input"
    else:
    
        
        try:
            counter=257
            for i in range(first_page,last_page+1):
                response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key='+ api_key+'&language=en-US&page='+str(i))
                print(response.status_code)
                print (counter)
                data= response.json()
                results = data['results']
                insert_query(results)
                counter +=1
                time.sleep(5)
            
            
        except (RuntimeError, TypeError, NameError,ValueError):
             pass
    
    return "Data base is ready!"

In [15]:
sqldb = c.execute("""select * from movies_table1;""").fetchall()

[]

In [ ]:
c.execute("""select title,vote_count from movies_table1 group by vote_count DESC;""").fetchall()

In [21]:
c.close()
conn.close()